# This is an .htaccess file

<IfModule mod_filter.c>
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript

</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access 1 day"
ExpiresByType text/css "acess 1 week"
ExpiresByType image/jpg "access 1 month"
</IfModule>