@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section


$color-1: #f9be5e;
$color-2: #ff4046;
$color-primary: #6889c2; // Cornflower Blue - Action color
$color-secondary: #49494d; // Dark gray
$color-3: #f79b4b; // orange
$color-4: #e6e6e6; // light gray
$color-5: #ffffff; // white
$color-6: #7b7b81;
$color-7: #3a4d6e;

$color-alice: rgba(189, 139, 209, 0.8);
$color-tamadoggy: rgba(241, 162, 58, 0.8);
// additional colors
$success: #80b160; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$tertiary-font: 'Barlow Condensed', 'Open Sans', sans-serif;
$code-font: 'Ubuntu', 'Open Sans', sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}
.container.project section{
	max-width: 60em;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}
/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-primary;
	text-align: left;
}
.intro{
	background-color: $color-4;
	height: 30em;
	position: relative;
}
.profile-pic{
	position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
	margin: auto;
	min-width: 100px !important;
	min-height: 100px !important;
	max-height: 50px !important;
	max-width: 50px !important;
}
/* -------------------------------- 

xTypography 

-------------------------------- */
h1{
	text-transform: uppercase;
	color: $color-5;
	font-weight: 700;
	&.main-page,
	.main-page{
		color: $color-3 !important;
	}
}

.mini-bio{
	text-transform: uppercase;
	color: $color-6;
	font-size: 1.2em;
	&.main-page{
		font-size: 1.5em;
		color:$color-primary !important;
	}
}
h3{
	font-family: $secondary-font;
	color: $color-primary;
	font-weight: 600;
	font-size: 1.1em;
	padding-bottom: 0.1em;
	display: inline-block;
}
h1 {
	font-family: $tertiary-font;
	font-size: 4.4rem;
	font-weight: 500;
	line-height: 1.2;
	max-width: 80rem;

	@include MQ(S) {
		font-size: 5.2rem;
	}

	@include MQ(M) {
		font-size: 7rem;
	}
}

h2 {
	font-family: $tertiary-font;
	font-size: 2em;
	color: $color-3;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 1em;
	max-width: 80rem;

	@include MQ(M) {
		font-size: 2.5em;
		margin: 0;
	}
}

p {
	font-size: 1.5rem;
	line-height: 1.8;
	color: lighten($color-secondary, 25%);

	a {
		color: $color-primary;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

/* -------------------------------- 

xNav Style

-------------------------------- */
.main-nav a {
	position: relative;
	display: inline-block;
	outline: none;
}
.main-nav{
	background: white;
}
.main-nav a:hover,
.main-nav a:focus {
	outline: none;
}
.nav-fontDisplay
{
	text-transform: uppercase;
	color: $color-3;
	font-weight: 700;
	font-family: $tertiary-font;
	font-size: 2.5rem;
	@include MQ(S) {
		font-size: 3rem;
	}

	@include MQ(M) {
		font-size: 3.5rem;
	}
}
.header-links{
	div{
		display: inline-block;
		padding-right: 0.5em;
		@include MQ(S) {
			padding-right: 2em;
		}
	
		@include MQ(M) {
			padding-right: 2em;
		}
	}
	.in-text{
		padding: 9px 5px;
		font-family: $secondary-font;
		text-shadow: none;
		font-size: .8em;
		@include MQ(S) {
			font-size: 1em;
			padding: 10px;
		}
	}
	a::before,
	a::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: $color-3;//$color-secondary;//$color-3;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	
	a::before {
		top: 0;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	
	a::after {
		bottom: 0;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}
	
	a:hover::before,
	a:focus::before,
	a:hover::after,
	a:focus::after,
	a.active::after,
	a.active::before, {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}

/* -------------------------------- 

xPortfolio

-------------------------------- */
.background-img{
	display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;

	img {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%
	}
	margin: 0 -1em;
	@include MQ(S) {
		margin: 0 -2em;
	}
	@include MQ(M) {
		margin: 0 -4em;
	}
	@include MQ(L) {
		margin: 0 -8em;
	}
}
.background-overlay{
	position: absolute;
	top: auto;
	padding: 1em;
	// background-color: rgba(246, 239, 250,0.5);
	h1 span{
		color: rgb(255, 255, 255);
	}
	p.mini-bio{
		color: rgb(255, 255, 255);
		font-size: 1em;
		line-height: 1;
		@include MQ(S) {
			font-size: 1.4em;
			line-height: 1;
		}
	}
	&.overlay-anchor{
		top: 0.5em;
		left: 0.5em;
		@include MQ(S) {
			top: 1em;
			left: 1em;
		}
		@include MQ(M) {
			top: 2em;
			left: 2em;
		}
		&:hover{
			font-weight: 700;
			border-bottom: 2px solid white;
		}
	}
	.in-text{
		color: rgb(255, 255, 255);
	}
}
.grayout{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
video {
	width: 100%    !important;
	height: auto   !important;
}
figcaption{
	font: $secondary-font;
	font-size: 0.9em;
	color: $color-3;
	& strong{
		font-weight: 600;
	}
}
.code{
	margin-top: 1em;
	padding: 0.25em 1em;
	border: 2px solid $color-4;
	border-radius: 0.2em;
	overflow: scroll;
}
/* -------------------------------- 

xPortfolio Buttons

-------------------------------- */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  .portfolio-item {
	width:100%;
    padding-bottom:75%;
    overflow:hidden;
    position:relative;
    float:left;
	overflow: hidden;
	max-width: 100%;
	
	img {
		object-fit: cover;
		display: block;
		width: auto;
		height: auto;
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		position:absolute;
		min-width:100%;
		min-height:100%;
		top:0%;
		left:0
	  }
	  & img {
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	  }
	  &{
		  .portfolio-item-overlay.top
		  {
			cursor: pointer;
			
		  }
		  .portfolio-item-overlay.alice
		  {
			background-color: rgba(189, 139, 209, 0.8);
		  }
		  .portfolio-item-overlay.tamadoggy
		  {
			background-color: rgba(241, 162, 58, 0.8);
		  }		  
		  .portfolio-item-overlay>div{
			@include transform(translateY(0) scale(1));
			@include transform(translateY(-50%));
			visibility: visible;
			opacity: 1;
		  }
	  }
	  &:hover img {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	  }
	  &:hover{
		  .portfolio-item-overlay.top
		  {
			cursor: pointer;
		  }
		  .portfolio-item-overlay.alice
		  {
			background-color: rgba(189, 139, 209, 0);
		  }
		  .portfolio-item-overlay.tamadoggy
		  {
			background-color: rgba(241, 162, 58, 0);
		  }		  
		  .portfolio-item-overlay>div{
			@include transform(translateY(0) scale(1));
			@include transform(translateY(50%));
			visibility: visible;
			opacity: 0;
		  }
	  }
  }
  .porfolio-item-holder{
		padding: 2em 0;
	  @include MQ(M) {
		padding: 0;
	}
  }
  .portfolio-item-overlay
  {
	background-color: rgba(189, 139, 209, 0);
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	color: #fff;
	overflow: hidden;
	text-align: center;
	width: 100%; 
	
	-moz-transition: background-color 1s;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
	}
	a.portfolio-item-overlay{
		font-weight: 700;
		font-family: $secondary-font;
		padding: 65% 0% 0 10%;
		text-align: left;
		text-transform: uppercase;
		font-size: 1.2em;
	}
	.portfolio-item-overlay>div{
		padding: 0.5em;
		@include MQ(S){
			padding: 1em;
		}
		opacity: 0;
		visibility: hidden;
		position: relative;
		top: 50%;
		-webkit-transition: all 0.4s ease-out 0.3s; 
		transition: all 0.4s ease-out 0.3s; 
		& h2, & h3, & p{
			text-transform: uppercase;
			color: $color-5;
		}
	}

/* -------------------------------- 

xBackground Information

-------------------------------- */
.col-education{
	padding-top: 1em;
	border: none;
	@include MQ(M) {
		border-top: 0.1em solid $color-4;
		padding-top: 2em; 
	}
}

/* -------------------------------- 

xPadding basics

-------------------------------- */
.padding-small{
	padding-top: 1.5em;
}

/* -------------------------------- 

xButtons 

-------------------------------- */
.in-text{
	color: $color-secondary;
}


/* -------------------------------- 

xStyle Guide

-------------------------------- */

.grid-sample{
	background-color: $color-4;
	height: 5em;
	border-radius: 1em;
}
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint{font-size:0.85em;background:#fff;font-family:Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;border:0!important}.pln{color:#4d4d4c}ol.linenums{margin-top:0;margin-bottom:0;color:#8e908c}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{padding-left:1em;background-color:#fff;list-style-type:decimal}@media screen{.str{color:#718c00}.kwd{color:#8959a8}.com{color:#8e908c}.typ{color:#4271ae}.lit{color:#f5871f}.pun{color:#4d4d4c}.opn{color:#4d4d4c}.clo{color:#4d4d4c}.tag{color:#c82829}.atn{color:#f5871f}.atv{color:#3e999f}.dec{color:#f5871f}.var{color:#c82829}.fun{color:#4271ae}}
@import '../partials/basic-style';