/* -------------------------------- 

xBasic style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
nav, .container{
	padding: 0 1em;
	padding-top: 100px; //for header;
	@include MQ(S) {
		padding: 0 2em;
		padding-top: 100px; //for header;
	}
	@include MQ(M) {
		padding: 0 4em;
		padding-top: 100px; //for header;
	}
	@include MQ(L) {
		padding: 0 8em;
		padding-top: 100px; //for header;
	}
}
html {
	width: 100%;
	margin: 0;
    padding: 0;
    border: 0;
	font-size: 62.5%;
}

body {
	width: 100%;
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

input, textarea, select {
	font-family: $primary-font;
	font-size: 1.6rem;
}

header {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	// box-shadow: 0 1px 1px rgba(#000, .1);
	z-index: 10;

	nav {
		display: block;
	}

	@include MQ(M) {
		height: 80px;
		@include clearfix;
	}
}

main {
	> h1 {
		text-align: left;
		margin-top: 0.5em;
	}

	@include MQ(M) {
		padding-top: 80px;
	}
}

section {
	margin: 3em 0;
	@include clearfix;

	@include MQ(S) {
		margin: 3em 0 5em;
	}
}




@-moz-document url-prefix(){
	/* hide custom arrow on Firefox */
	.cd-select::after {
		display: none;
	}
}

.no-csstransitions .cd-select::after {
	display: none;
}